body{
  background-color: #E75480;
  overflow-x: hidden;
}
.head{
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.body1{
  position: relative;
  margin-top: 50px;
  padding-left: 0%;
  height: 500px;
}
.b{
  position: absolute;
  bottom: 40%;
  font-size: 20px;
  padding-left: 60px;
  font-weight: bold;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.a{
  position: absolute;
  padding-left: 60px;
  bottom: 55%;
  font-weight: lighter;
  font-size: 40px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
  position: absolute;
  bottom: 30%;
  padding-left: 58px;
  width: 100%;
  height: 30px;
}
.btn input[type="button"]{
  width: 300px;
  height: 40px;
  background-color: purple;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 20px;
}
img{
  position: absolute;
  right: 0;
  width: 50%;
  height: 500px;

}
a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link2{ border: solid white;
  border-radius: 20px;
  width: 90px;
  height: 12px;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 5px;
  
}
.logo{
  font-weight: bolder;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
}
.links, .link2 :hover{
  transition:  .2s;
  color: aqua;
}
@media screen and (max-width: 700px) {
	.body{
		margin-bottom: 15px;
    height: fit-content;
	}
	.head{
		margin-bottom: 20px;
	}
	.head1 {
		margin-left: 250;
	}
  .body1{
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 400px) {
	.body {
	margin-bottom: 15px;
	}
	.body1{
		margin-left: 250px;
		margin-bottom: 20px;
	}
}
